<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/search" (click)="onSidenavClose()">
        <mat-icon>search</mat-icon> <span class="nav-caption">Search</span>   
    </a>
    <a mat-list-item routerLink="/my-movies" (click)="onSidenavClose()">
        <mat-icon>favorite</mat-icon><span class="nav-caption">Favorites</span>
    </a>
  </mat-nav-list>