<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
    <ul fxLayout fxLayoutGap="60px" class="navigation-items">
      <li class="nav-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Home"
          fontIcon="home"
        ></mat-icon>
        <a routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Search"
          fontIcon="search"
        ></mat-icon>
        <a routerLink="/search">Search</a>
      </li>
      <li class="nav-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Favorites"
          fontIcon="favorites"
        ></mat-icon>
        <a routerLink="/favorites">Favorites</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
