<div class="container">
  <div class="search">
    <label>Search: </label>
    <input
      class="input-lg form-control well"
      type="search"
      #searchInput
      placeholder="Search..."
    />
  </div>

  <app-result-list
    *ngIf="searchResult?.length; else noResults"
    [searchResult]="searchResult"
  ></app-result-list>
  <!-- <app-detail [selectedMovie]="selectedMovie"></app-detail> -->

  <ng-template #noResults>
    <img *ngIf="searchCriteriaLength > 0" src="assets/NoSearchResult.gif" />
  </ng-template>
</div>
